language: python
python:
  - "2.6"
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  export VERSION=X.X.X && coverage run --source=balderdash setup.py test
after_success:
  coveralls
